name: Release

permissions:
  contents: write   # <--- allow reusable workflow to create releases

on:
  push:
    tags:
      - "v*.*.*"

jobs:
  call-build:
    uses: ./.github/workflows/build.yml
    with:
      release: true